<%= render partial: "shared/adminnav" %>


<div class="row">
  <div class="col-sm-12 admin column-header">
    <p class="mr-auto">Bulk Discounts</p>
  </div>

  <% @discounts.each do |discount| %>
    <section id="discount_<%=discount.id%>">
      <li> <%= link_to "Discount #{discount.id}", merchant_bulk_discount_path(discount.merchant, discount) %></li>
      <p> Percentage Discount: <%= "#{discount.percentage_discount.to_i}" %>%</p>
      <p> Quantity Threshold: <%= "#{discount.quantity_threshold}" %></p>
      <p><%= button_to 'Delete Discount', merchant_bulk_discount_path(discount.merchant, discount), method: :delete, data: { confirm: 'Are you sure?' } %><p>
    </section>
  <% end %>

  <div>
    <section id="create_new_discount">
      <h5><%= link_to "Create a New Discount", new_merchant_bulk_discount_path(@merchant) %></h5>
    </section>
  </div>

</div>

