<%= render partial: "shared/adminnav" %>

<div class="row">
  <div class="col-sm-12">
    <h1>New Bulk Discount</h1>

    <%= form_with(model: [@merchant, @bulk_discount], local: true) do |form| %>
      <% if @bulk_discount.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@discount.errors.count, "error") %> prohibited this bulk_discount from being saved:</h2>
          <ul>
            <% @discount.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :percentage_discount %>
        <%= form.number_field :percentage_discount %>
      </div>

      <div class="field">
        <%= form.label :quantity_threshold %>
        <%= form.number_field :quantity_threshold %>
      </div>

      <div class="actions">
        <%= form.submit 'Create Bulk Discount' %>
      </div>
    <% end %>
  </div>
</div>