<%= render partial: "shared/nav" %>

<body>
  <div class="row">
    <p class='col-12'><%= @item.name %></p>
  </div>


  <p><%= @discount.id %></p><br/>

  <p>Quantity Threshold: <%= n@discount.quantity_threshold%></p>
  <p>Percentage Discount: <%= @discount.percentage_discount %> % </p>

  <strong><%= link_to "Update Item", edit_merchant_item_path(@merchant, @item) %></strong>

</body>